@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mainColor: #49dfd2; /* Replace with your desired color */
}

body {
  background-image: radial-gradient(
    circle,
    rgba(73, 223, 210, 0.25) 0.03em,
    transparent 0.03em
  );
  background-size: 1em 1em, 100% 100%;
  height: 100vh;
  background-color: #000;
}

meter {
  margin-top: 8px;
  width: 100%;
  height: 8px; /* Make the meter thinner */
  border-radius: 4px; /* Make the meter round */
  background: #e0e0e0; /* Light gray background for the meter */
  overflow: hidden;
}

meter::-webkit-meter-optimum-value {
  background: var(--mainColor);
  border-radius: 4px; /* Make the meter fill round */
}

meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: var(--mainColor);
  border-radius: 4px; /* Make the meter fill round */
}
