@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mainColor: #49dfd2; /* Default color */
}

body {
  background-image: radial-gradient(
    circle,
    rgba(var(--mainColor-rgb), 0.25) 0.04em,
    transparent 0.05em
  );
  background-size: 1em 1em, 100% 100%;
  height: 100vh;
  background-color: #000;
}

meter {
  margin-top: 8px;
  width: 100%;
  height: 8px; /* Make the meter thinner */
  border-radius: 4px; /* Make the meter round */
  background: #e0e0e0; /* Light gray background for the meter */
  overflow: hidden;
}

meter::-webkit-meter-optimum-value {
  background: var(--mainColor);
  border-radius: 4px; /* Make the meter fill round */
}

meter::-moz-meter-bar {
  /* Firefox Pseudo Class */
  background: var(--mainColor);
  border-radius: 4px; /* Make the meter fill round */
}

.list-mainColor li::marker {
  color: var(--mainColor);
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo.vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.tailwind:hover {
  filter: drop-shadow(0 0 2em #38bdf8aa);
}
.logo.vercel:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
